PROVISIONING_PROFILE: LOCATION_OF_YOUR_PROVISIONING_PROFILE
CODESIGN_CERTIFICATE: NAME_OF_YOUR_CODESIGN_CERTIFICATE

TESTFLIGHT_APP_TOKEN: YOUR_TESTFLIGHT_APP_TOKEN
TESTFLIGHT_API_TOKEN: YOUR_TESTFLIGHT_API_TOKEN
TESTFLIGHT_TEAM_TOKEN: YOUR_TESTFLIGHT_TEAM_TOKEN

AIRKOREA_API_KEY: YOUR_AIRKOREA_API_KEY