#home {
  background-color: #f2b34e;
}

#aq-title {
  top: 14px;
  color: #fff;
  font-size: 20px;
  font-family: "avenir";
  font-weight: black;
  text-align: center;
}

#aq-value {
  top: 204px;
  opacity: 1;
  color: #fff;
  font-size: 120px;
  font-family: "Avenir";
  font-weight: normal;
  text-align: center;
}

.ip4s #aq-value {
  top: 184px;
}

.ip4s #aq-last-updated {
  top: 420px;
}

#aq-last-updated {
  top: 500px;
  color: #fff;
  font-size: 16px;
  font-family: "Avenir";
  font-weight: light;
  text-align: center;
}

#pull-to-refresh label {
  font-family: "Avenir";
}

#status-block {
  background-color: #fdba4e;
}

#home.aq-good, #home.aq-good #status-block { background-color: #00b5f1; }
#home.aq-moderate, #home.aq-moderate #status-block { background-color: #f2b34e; }
#home.aq-bad, #home.aq-bad #status-block { background-color: #e45420; }
#home.aq-verybad, #home.aq-verybad #status-block { background-color: #e71818; }